<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Ejemplo de un CRUD completo</title>
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="../css/estilos.css" th:href="@{/css/estilos.css}" />
</head>

<body id="menugrande">
	<div id="registro">
		<h1>REGISTRO USUARIO</h1>
	</div>

	<div class="container d-flex align-items-center justify-content-center">
		<div class="row">
			<div class="col-md-12">
				<div class="well well-sm">
					<form class="form-horizontal"
						th:action="${cliente.cod_cliente != 0} ? @{/admin/editar/submit} : @{/admin/nuevo/submit}"
						th:object="${cliente}" method="post">
						<fieldset>
							<legend class="text-center header">Contacta con nosotros</legend>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
										class="fa fa-user bigicon"></i></span>
								<div class="col-md-8">
									<input th:if="${cliente.cod_cliente != 0}" type="hidden" name="id"
										th:field="*{cod_cliente}" />
									<input id="exampleInputEmail1" name="nombre" type="text" placeholder="Nombre"
										class="form-control" aria-describedby="emailHelp" th:field="*{nombre}">
								</div>
							</div>
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
										class="fa fa-user bigicon"></i></span>
								<div class="col-md-8">
									<input name="apellidos" type="text" placeholder="Apellidos" id="apellidos"
										class="form-control" th:field="*{apellidos}">
								</div>
							</div>
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
										class="fa fa-user bigicon"></i></span>
								<div class="col-md-8">
									<input name="email" type="text" placeholder="Email" id="email" class="form-control"
										th:field="*{email}">
								</div>
							</div>
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
										class="fa fa-user bigicon"></i></span>
								<div class="col-md-8">
									<input type="text" class="form-control" id="exampleInputPassword1" name="dni"
										th:field="*{dni}" placeholder="Dni">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
										class="fa fa-phone-square bigicon"></i></span>
								<div class="col-md-8">
									<input type="text" class="form-control" id="exampleInputPassword1" name="telefono"
										th:field="*{telefono}" placeholder="Telefono" />
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
										class="fa fa-pencil-square-o bigicon"></i></span>
								<div class="col-md-8">
									<textarea class="form-control" id="message" name="message"
										placeholder="Enter your massage for us here. We will get back to you within 2 business days."
										rows="7"></textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12 text-center">
									<input type="submit" name="enviar" value="Enviar" />
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>