<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ejemplo de un CRUD completo</title>
</head>
<body>
<div id="menu">
	<a th:href="@{/list}">Inicio</a> | <a th:href="@{/nuevo}">Nuevo cliente</a>
</div>
<br /><br />
<table border=1>
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Dni</th>
			<th>telefono</th>
			<th>Operaciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="Cliente : ${lista}">
			<td th:text="${cliente.cod_cliente}">1</td>
			<td th:text="${cliente.nombre}">Nombre</td>
			<td th:text="${cliente.dni}">Dni</td>
			<td th:text="${cliente.telefono}">Telefono</td>
			
<!-- Estamos "montando las rutas" que aparecen como enlaces (editar y borrar) 
en la tabla de alumnos ya que estas cambian al pinchar en 
un alumno en concreto recogiendo el id de dicho alumno 
y así poder acceder a su información. Para ello:

* Usamos como siempre en th @{ }
* La primera parte (la parte que no varía podríamos decir) es igual a las vistas de otras ocasiones, 
por ejemplo, th:href="@{/editar/más si hubiera otras"
* Después agregamos las llaves con id para que sea reconocido 
como un parámetro o parte de la ruta "que va a cambiar"
* Dentro de paréntesis, asignamos un valor a dicho id, 
en este caso como es el atributo de la entidad, usamos la forma normal de th
para el uso de variables, es decir, símbolo de dólar y el nombre del objeto.nombreatributo, 
quedando como puede verse en el código
* Con esto, tendremos el id del alumno que pinchemos en la tabla

 -->
			<td>
				<a href="#" th:href="@{/editar/{id}(id=${cliente.cod_cliente})}">Editar</a> | 
				<a href="#" th:href="@{/borrar/{id}(id=${cliente.cod_cliente})}">Borrar</a>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>