<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/estilos.css}" />
</head>

<body>
	<form th:action="@{/logout}" method="POST" id="logoutForm"></form>
	<h1>
		Bienvenido, administrador: <span sec:authentication="name">Usuario</span>
	</h1>
	<header>
		<nav class="navbar navbar-expand-sm ">
			<div class="container-fluid">
				<img class="navbar-brand" href="javascript:void(0)" src="/img/logo.png" alt="Logo empresa" width="5%">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="navbar-nav m-0">
						<li class="nav-item">
							<b><a class="nav-link" th:href="@{/admin/}">Administrar</a></b>
						</li>
						<li class="nav-item">
							<b><a class="nav-link" href="portada.html">Inicio</a></b>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="eventos.html">Eventos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="bodas.html">Bodas</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contacto.html">Contacto</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>>
	<a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
	<div id="menu">
		<a th:href="@{/list}">Inicio</a> | <a th:href="@{/nuevo}">Nuevo cliente</a>
	</div>

</body>

</html>