<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/estilos.css}" />
</head>

<body>
	<form th:action="@{/logout}" method="POST" id="logoutForm"></form>
	<h1>
		Bienvenido, administrador: <span sec:authentication="name">Usuario</span>
	</h1>
	<header>
		<nav class="navbar navbar-expand-sm ">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="navbar-nav m-0">
						<li class="nav-item">
							<b><a class="nav-link " th:href="@{/admin/}">Administrar</a></b>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<b><a class="nav-link" href="portada.html">Inicio</a></b>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="eventos.html">Eventos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="bodas.html">Bodas</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contacto.html">Contacto</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>>
	<div id="menu">
		<a th:href="@{/list}">Inicio</a> | <a th:href="@{/nuevo}">Nuevo cliente</a>
	</div>

	<!-- Carousel -->
	<div id="demo" class="carousel slide w-100 m-auto" data-bs-ride="carousel">

		<!-- Indicators/dots -->
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
		</div>

		<!-- The slideshow/carousel -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img href="javascript:void(0)" src="/img/catering1.jpg" alt="Catering 1" class="d-block w-100">
			</div>
			<div class="carousel-item">
				<img href="javascript:void(0)" src="/img/catering2.jpg" alt="Catering 2" class="d-block w-100">
			</div>
			<div class="carousel-item">
				<img href="javascript:void(0)" src="/img/catering3.jpg" alt="Catering 3" class="d-block w-100">
			</div>
		</div>

		<!-- Left and right controls/icons -->
		<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
			<span class="carousel-control-next-icon"></span>
		</button>
	</div>

	<div class="bg-light">
		<h1 class="w-50 m-auto pt-5">
		</h1>

		<hr class="w-50 m-auto pt-5">

		<p class="m-5">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, officiis quo tempore velit dolore
			praesentium sequi molestias? Quod debitis aperiam vel commodi libero. Eius corporis sint magnam totam quas
			a? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora voluptatem expedita ex repudiandae
			libero voluptas distinctio ad ipsam deserunt cum nulla quibusdam, quaerat architecto repellat? Perferendis
			eveniet eius porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit a consectetur ad obcaecati
			provident natus magni, harum et vel praesentium hic rem accusamus sint, porro ratione est qui dolores
			sapiente.
		</p>

		<hr class="w-50 m-auto pt-5">

		<div class="contenedorcito">
			<div class="cuadrado">
				<h3>Sín límites</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Reiciendis iste voluptatem modi commodi odit adipisci sapiente
					beatae possimus voluptatum nam earum, sunt provident dolores,
					perspiciatis nobis officiis ipsa magnam ut?</p>
			</div>
			<div class="cuadrado">
				<h3>Sín preocupaciones</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Reiciendis iste voluptatem modi commodi odit adipisci sapiente
					beatae possimus voluptatum nam earum, sunt provident dolores,
					perspiciatis nobis officiis ipsa magnam ut?</p>
			</div>
			<div class="cuadrado">
				<h3>Sín compromiso</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Reiciendis iste voluptatem modi commodi odit adipisci sapiente
					beatae possimus voluptatum nam earum, sunt provident dolores,
					perspiciatis nobis officiis ipsa magnam ut?</p>
			</div>
		</div>


		<div class="contenedor">
			<img class="img w-50 m-5 pt-5" href="javascript:void(0)" src="/img/catering4.jpg" alt="Catering 4">

			<div>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam,
					aut ullam accusamus eum magni excepturi esse nihil culpa eligendi explicabo
					saepe qui veniam itaque. Asperiores cum quisquam provident est ipsum!.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe maiores earum
					praesentium rem corrupti reiciendis consequatur vel ipsum aliquid, odio provident
					laborum nemo itaque suscipit amet quis beatae? Mollitia, minus!
				</p>
			</div>

		</div>

		<div class="img2">
			<section class="container2">
				<a class="nav-link" href="eventos.html"><button class="btn"><img class="img3" href="javascript:void(0)"
							src="/img/catering5.jpg" alt="Catering 5">
						<p>EVENTOS</p>
					</button></a>
			</section>

			<section class="container2">
				<a class="nav-link" href="bodas.html"><button class="btn"><img class="img3" href="javascript:void(0)"
							src="/img/catering5.jpg" alt="Catering 5">
						<p>BODAS</p>
					</button></a>

			</section>

		</div>


	</div>

	<div class="contenedor2 bg-light">

		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner m-3">
				<div class="carousel-item active">
					<h1>Declaraciones de clientes</h1>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam,
						aut ullam accusamus eum magni excepturi esse nihil culpa eligendi explicabo
						saepe qui veniam itaque. Asperiores cum quisquam provident est ipsum!.
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe maiores earum
						praesentium rem corrupti reiciendis consequatur vel ipsum aliquid, odio provident
						laborum nemo itaque suscipit amet quis beatae? Mollitia, minus!
					</p>
				</div>
				<div class="carousel-item">
					<h1>¿Qué te recomendamos?</h1>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam,
						aut ullam accusamus eum magni excepturi esse nihil culpa eligendi explicabo
						saepe qui veniam itaque. Asperiores cum quisquam provident est ipsum!.
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe maiores earum
						praesentium rem corrupti reiciendis consequatur vel ipsum aliquid, odio provident
						laborum nemo itaque suscipit amet quis beatae? Mollitia, minus!
					</p>
				</div>
				<div class="carousel-item">
					<h1>¿Dónde nos encontramos?</h1>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam,
						aut ullam accusamus eum magni excepturi esse nihil culpa eligendi explicabo
						saepe qui veniam itaque. Asperiores cum quisquam provident est ipsum!.
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe maiores earum
						praesentium rem corrupti reiciendis consequatur vel ipsum aliquid, odio provident
						laborum nemo itaque suscipit amet quis beatae? Mollitia, minus!
					</p>
				</div>
			</div>
		</div>


		<img class="img w-50 m-5 pt-5" href="javascript:void(0)" src="/img/catering4.jpg" alt="Catering 4">

	</div>


	<footer class="bg-dark text-center text-white">
		<!-- Grid container -->
		<div class="container p-4 pb-0">
			<!-- Section: Social media -->
			<section class="mb-4">
				<!-- Facebook -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><img class="navbar-brand"
						href="javascript:void(0)" src="/img/facebook.png" width="30px"></a>
				<!-- Instagram -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><img class="navbar-brand"
						href="javascript:void(0)" src="/img/insta.png" width="30px"></a>
			</section>
			<!-- Section: Social media -->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2023 Copyright:
		</div>
		<!-- Copyright -->
	</footer>


</body>

</html>