<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compi mled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
	<script src="/js/formularioReserva.js"></script>

	<title>Nueva Reserva</title>
</head>

<body>
	<section class="vh-100" style="background-color: rgb(164, 164, 0);">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-lg-12 col-xl-11">
					<div class="card text-black" style="border-radius: 25px;">
						<div class="card-body p-md-5">
							<div class="row justify-content-center">
								<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Mis reservas</p>

								<table class="table">
									<thead>
										<tr>
											<th>Id</th>
											<th style="visibility:collapse; display:none;">Username</th>
											<th>Fecha</th>
											<th>Tipo</th>
											<th>Menú</th>
											<th>Lugar</th>
											<th>Invitados</th>
											<th>Total</th>
											<th>Operaciones</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="reserva : ${lista}">
											<td th:text="${reserva.cod_reserva}">1</td>
											<td style="visibility:collapse; display:none;" th:text="${reserva.usuario.username}">Username</td>
											<td th:text="${reserva.fecha}">Fecha</td>
											<td th:text="${reserva.tipo_evento}">Tipo evento</td>
											<td th:text="${reserva.menu.nombre}">Menú</td>
											<td th:text="${reserva.lugar_evento}">Lugar</td>
											<td th:text="${reserva.num_personas}">Invitados</td>
											<td th:text="${reserva.calcularTotal()}">Total</td>

											<td>
												<a href="#"
													th:href="@{/reserva/editar/(id=${reserva.cod_reserva})}"><img
														class="navbar-brand" href="javascript:void(0)"
														src="/img/edit.png" alt="Editar" width="5%"></a> |
												<a href="#"
													th:href="@{/reserva/borrar/{id}(id=${reserva.cod_reserva})}"><img
														class="navbar-brand" href="javascript:void(0)"
														src="/img/borrar.png" alt="Borrar" width="5%"></a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

									<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Realizar reserva</p>

									<form class="form-horizontal"
										th:action="${reserva.cod_reserva != 0} ? @{/reserva/editar/submit} : @{/reserva/nuevaReserva/submit}"
										th:object="${reserva}" method="post">

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-key fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="date" id="form3Example4cd" class="form-control"
													th:field="*{fecha}" required/>
											</div>
										</div>
										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-key fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<select class="form-select" aria-label="Default select example"
													name="tipo_evento" th:field="*{tipo_evento}" required/>
													<option value="Bodas">Bodas</option>
													<option value="Comunión">Comunión</option>
													<option value="Coktail">Cocktail</option>
												</select>
											</div>
										</div>

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-key fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<select class="form-select" aria-label="Default select example"
													name="menu">

													<option th:each="menu : ${menus}" th:value="${menu.cod_menu}"
														th:text="${menu.getEnumSeletor()}" required/></option>
												</select>
											</div>
										</div>

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-key fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input name="lugar" type="text" placeholder="Lugar" id="lugar"
													class="form-control" th:field="*{lugar_evento}" required>
											</div>
										</div>

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-key fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input name="num_personas" type="number" min="1" max="1000"
													placeholder="Numero personas" id="numPersonas" class="form-control"
													th:field="*{num_personas}">
											</div>
										</div>

										<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
											<input type="submit" name="enviar" value="Enviar" />
										</div>

									</form>

								</div>
								<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

									<img href="javascript:void(0)" src="/img/catering6.jpg" alt="Catering 3"
										class="d-block w-100">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>

</html>